.card {
    width: 260px;
    min-height: 300px;
    box-shadow: 0 4px 8px 0 plum;
    margin: 16px;
    background-color: mediumpurple;
    border-radius: 10px;
}
.card-2 {
    width: 260px;
    min-height: 300px;
    box-shadow: 0 4px 8px 0 #823527;
    margin: 16px;
    background-color: #994131;
    border-radius: 10px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 mediumpurple;
}
.card-2:hover {
    box-shadow: 0 8px 16px 0 #823527;
}

.picture-section {
    height: 150px;
    position: relative;
}
.picture {
    border: 5px solid plum;
    width: 250px;
    height: 150px;
    border-radius: 20px;
}
.info {
    padding: 8px;
    color: white;
}
.listing {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 4px;
    color: white;
}
.price {
    font-size: 20px;
    font-width: bold;
    color: white;
}
.adress {
    font-width: bold;
    margin-bottom: 4px;
    color: white;
}
.type {
    font-size: 12px;
    color: white;
}
a {
    text-decoration: none;
}
.card-area {
    display: flex;
    flex-wrap: wrap;
}
.Bottom-Area {
    font-size: x-large;
}
